PORT=8080

# Client origin for CORS in development (adjust as needed)
CLIENT_ORIGIN=http://localhost:3000

# JWT secret used to verify cookie token
JWT_SECRET=your-jwt-secret-key

# Upstream services
USER_SERVICE_URL=http://localhost:3004
PRODUCT_SERVICE_URL=http://localhost:30011
ORDER_SERVICE_URL=http://localhost:3001
INVENTORY_SERVICE_URL=http://localhost:3003

